<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.irsakitchen.rider"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
    android:name=".RiderApp"
    android:icon="@android:mipmap/sym_def_app_icon"
    android:roundIcon="@android:mipmap/sym_def_app_icon"
    android:label="Irsa Rider"
    android:theme="@style/Theme.IrsaRider">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IrsaKitchenRider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>

