<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irsakitchen.rider">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".RiderApp"
        android:label="Irsa Rider"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <activity
            android:name=".IncomingOrderActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.FullScreen"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".RingtoneService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

    </application>
</manifest>
